#content {
	min-height: 95vh;
}

#article-image {
	min-height: 250px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* filter: blur(1px);
	-webkit-filter: blur(1px); */
}

#mainText {
    font-size: calc(1rem + 0.15vw) !important;
    line-height: 1.6;
    margin-bottom: 1rem;
}