
/* Font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
	--font-eb-garamond: 'EB Garamond', serif;
	--font-work-sans: 'Work Sans', sans-serif;

	--transition-default: all 300ms ease-in-out;
	--scale-factor-default: calc(0.95);
	--shadow-default: 2px 4px 10px 0px rgba(0,0,0,0.25);

	--primary-color: #F2F2F2;
	--secondary-color: #D9D9D9;

	--accent-color: #214EC2;
	--accent-light-color: #B3CCE3;

	--text-dark-color: #191919;
	--text-light-color: white;
	--text-muted-color: #7D7D7D;
}

/* Hide the scrollbar of the window/element */
*::-webkit-scrollbar {
	width: 0 !important;
}

*::-webkit-scrollbar-track {
	background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
	background-color: transparent !important;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

*, *::after, *::before, *::placeholder {
	font-family: var(--font-work-sans);
	color: var(--text-color) !important;
	transition: var(--transition-default) !important;
}

body {
	background-color: var(--primary-color);
}

.accent-color {
	color: var(--accent-color) !important;
}

.accent-light-color {
	color: var(--accent-light-color) !important;
}

.muted-color {
	color: var(--text-muted-color) !important;
}

.title {
	font-family: var(--font-eb-garamond) !important;
	font-weight: 600 !important;
}

.btn {
	font-weight: 600 !important;
}

.btn:hover {
	scale: calc(var(--scale-factor-default));
}

.btn-default {
	background-color: var(--accent-color) !important;
	color: var(--text-light-color) !important;
	border: none !important;
}

.btn-default-light {
	background-color: var(--accent-light-color) !important;
	color: var(--text-dark-color) !important;
	border: none !important;
}

.btn-default:hover {
	background-color: var(--accent-color);
}

.info-popover {
	--bs-popover-header-bg: var(--accent-light-color) !important;
	--bs-popover-border-color: var(--accent-light-color) !important;
	text-align: center;
}

input {
	box-shadow: none !important;
}

input::placeholder, .input-group .material-symbols-rounded {
	color: var(--text-muted-color) !important;
}