
/* SignUp form styles */
header {
	background-color: var(--primary-color);
}
.container > .row > .col-12 {
	min-height: 90vh;
}

form {
	background-color: var(--secondary-color);
	box-shadow: var(--shadow-default);
}