
/* SignUp form styles */
header {
	background-color: var(--primary-color);
	z-index: 1050;
}
.container > .row:nth-child(2) {
	min-height: 80vh;
}

form {
	background-color: var(--secondary-color);
	box-shadow: var(--shadow-default);
}